<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">ELO Warszawskiej Federacji Blood Bowl</h1>
    <div class="row" >
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Player</th>
            <th>Rank</th>
          </tr>
          <tbody>
            <tr ng-repeat="player in $ctrl.players">
              <td>{{$index+1}}</td>
              <td>{{player.name}}</td>
              <td>{{player.rank}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <add-player callback="$ctrl.fetchPlayers()" ng-if="$ctrl.Auth.isLoggedIn()"></add-player>
    <add-match callback="$ctrl.fetchPlayers()" ng-if="$ctrl.Auth.isLoggedIn()"></add-match>
  </div>
</div>
