<md-dialog aria-label="Add match"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit match</h2>
        <span flex></span>
        <md-button ng-click="closeDialog()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{match.home.name}}</h2>
        <div layout-gt-sm="row">
          <md-input-container>
              <label>Touchdown</label>
              <input ng-model="match.home.score.td" type="number">
          </md-input-container>
          <md-input-container>
              <label>KO</label>
              <input ng-model="match.home.score.ko" type="number">
          </md-input-container>
          <md-input-container>
              <label>Points</label>
              <input ng-model="match.home.score.points" type="number">
          </md-input-container>
        </div>
        <h2>{{match.away.name}}</h2>
        <div layout-gt-sm="row">
          <md-input-container>
              <label>Touchdown</label>
              <input ng-model="match.away.score.td" type="number">
          </md-input-container>
          <md-input-container>
              <label>KO</label>
              <input ng-model="match.away.score.ko" type="number">
          </md-input-container>
          <md-input-container>
              <label>Points</label>
              <input ng-model="match.away.score.points" type="number">
          </md-input-container>
        </div>
        <hr>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="closeDialog()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="saveMatch()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
